# Active Directory Configuration
AD_SERVER=192.168.101.10
AD_DOMAIN=khai.local
AD_BASE_DN=DC=khai,DC=local
AD_BIND_PASSWORD=YourBindPasswordHere
LDAP_MOCK_MODE=False

# Groq AI Analyzer Key
GROQ_API_KEY=gsk_your_groq_api_key_here

# Grafana Observability Integration
GRAFANA_URL=http://127.0.0.1:3000
GRAFANA_SERVICE_ACCOUNT_TOKEN=glsa_your_service_account_token_here
PROMETHEUS_DATASOURCE_UID=PBFA97CFB590B2093
LOKI_DATASOURCE_UID=P8E80F9AEF21F6940

# Telegram Real-Time Security Alerts
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
